<div class="card">
    <div class="card-header">
        <h4><a class="link" href="all/events/{{id}}">{{title}}</a></h4>
        <h6 class="display-date">Event Date: {{format_date startdate}}</h6>
       <h6 class="display-date">Hosted By: {{firstname}} {{lastname}}</h6>
    </div>
</div>